.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: deepskyblue;
    padding: 10px;
  }
  
  .box1 {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .box2 {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .box3 {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .box4 {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .box5 {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .box6 {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .box7 {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .box8 {
    grid-area: 1 / 2 / 5 / 6;
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .box9 {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .box10 {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .box11 {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .box12 {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .box13 {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .box14 {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .box15 {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  } 